.container {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
mat-card{
    margin: 12px;
}
mat-card-content{
width: 220px;
}
.ttle{
    letter-spacing: .00625em;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin-bottom: 3px;
}
app-icons{
    margin-top: 25px;
    cursor: pointer;
    }

.desc{
    letter-spacing: .01428571em;
    font-family: Roboto,Arial,sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
}