.main {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  margin-top: 30px;
  flex-direction: column;
  margin-bottom: 60px;
}
.container {
  display: flex;
  width: fit-content;
  height: auto;
  border: 1px solid #ccc;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
}
.container1 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: auto;
  border: 1px solid #ccc;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
}
.text {
  width: 400px;
  margin: 0px 5px;
}

svg {
  width: 25px;
  height: 25px;
  margin: 0px 15px;
  opacity: 0.5;
}

.desc {
  border: none;
  outline: none;
  width: 550px;
  margin: 10px 5px;
  font-size: 16px;
}
.ttl{
  border: none;
  outline: none;
  width: 500px;
  margin: 10px 5px;
  font-size: 16px;
}
.icon{
  display: flex;
  /* margin-right: 40px; */
}
app-icons{
  margin-right: 40px;
  padding-right: 45px;
  opacity: 0.5;
}
.description{
  margin-bottom: 10px;
}
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left:90px;
    font-size: 15px;
}
.title{
  display: flex;
}
