<div class="container">
  <div class="main">
    <div class="google">
      <div class="txt G">G</div>
      <div class="txt o">o</div>
      <div class="txt O">o</div>
      <div class="txt G">g</div>
      <div class="txt l">l</div>
      <div class="txt e">e</div>
    </div>
    <div class="accRec">Account Recovery</div>
    <div class="ln">
      <p class="line">
        To help keep your account safe, Google wants to make sure its really you
        trying to sign in
      </p>
    </div>
    <div class="user">
      <form class="frm">
        <mat-form-field appearance="outline" class="fn">
          <mat-label> Email or Phone</mat-label>
          <input matInput type="email" />
        </mat-form-field>
      </form>
    </div>
    <p class="line2">Enter Your email To reset the password</p>
    <div class="handle">
      <div class="home">
      <a class="rp" href="#">Home Page</a>
    </div>
    <div class="nxt">
      <button
        routerLink="/resetPassword"
        mat-raised-button
        color="primary"
        class="btn"
      >
        Next
      </button>
    </div>
    </div>
   
  </div>
</div>
